<!DOCTYPE html>
<html lang="en">
  <head>
	<title>AutoMapper - The object-object mapper</title>
	<link href="/css/style.css" type="text/css" rel="stylesheet">
	<link href="/css/tcwidget.css" type="text/css" rel="stylesheet">
</head>

<body>
	<a href="https://github.com/automapper/automapper"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/ce742187c818c67d98af16f96ed21c00160c234a/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
	<div id="top">
		<h1>
			<a href="/">
				<img src="/img/black_logo.png" alt="AutoMapper">
			</a>
		</h1>
		<ul>
			<li><a href="https://github.com/AutoMapper/AutoMapper/wiki">Wiki</a></li>
			<li><a href="https://github.com/AutoMapper/AutoMapper">Source</a></li>
			<li><a href="http://groups.google.com/group/automapper-users">Mailing List</a></li>
		</ul>
	</div>
	<div id="content">
		<p id="summary">A convention-based object-object mapper. 100% organic and gluten-free. Takes out all of the fuss of building one object from another.</p>
		<h2>What is AutoMapper?</h2>
		<p>
			AutoMapper is a simple little library built to solve a deceptively complex problem - 
			getting rid of code that mapped one object to another. This type of code is rather dreary and boring to write, so why not invent a tool to do it for us?
		</p>
		<h2>How do I get started?</h2>
		<p>Check out the <a href="https://github.com/AutoMapper/AutoMapper/wiki/Getting-started">getting started guide</a>. When you're done there, the <a href="https://github.com/AutoMapper/AutoMapper/wiki/Getting-started">wiki</a> goes in to the nitty-gritty details. Finally, check out the <a href="http://www.dnrtv.com/default.aspx?showNum=155">dnrTV episode</a> for a full walkthrough.</p>
		<h2>Where can I get it?</h2>
		<p>First, <a href="http://docs.nuget.org/docs/start-here/installing-nuget">install NuGet</a>. Next, install AutoMapper from the package manager console:</p>
		<pre>PM&gt; Install-Package AutoMapper</pre>
		<p>Or, if you're feeling adventerous, check out the latest build below.</p>
		<script type="text/javascript" src="http://teamcity.codebetter.com/externalStatus.html?js=1&buildTypeId=bt128"> 
    </script>
	</div>
	<div id="footer">
		AutoMapper is Copyright © 2008-<%= Time.now.year %> <a href="http://jimmybogard.lostechies.com">Jimmy Bogard</a> and other contributors under the <a href="https://github.com/AutoMapper/AutoMapper/blob/master/LICENSE.txt">MIT license</a>.
	</div>
</body>
</html>